body {
    background-color: black;
}
.tdattrlabel {
    font-family: Arial Black;
    color: White;
    font-size: 30px;
}
.summaryBox {
    border: solid;
    border-color: white;
    border-width: 2;
    width: 960px;
}
.attrBox {
    border: solid;
    border-color: white;
    border-width: 2;
    width: 320px;
}
input.sheet-text {
    height: 30px;
    width: 20m;
}
input.sheet-short {
    height: 30px;
    width: 4em;
}