body {
    background-color: black;
}
.tdattrlabel {
    font-family: Arial Black;
    color: White;
    font-size: 30px;
}
.summaryBox {
    border: solid;
    border-color: white;
    border-width: 2;
    width: 960px;
}
.attrBox {
    border: solid;
    border-color: white;
    border-width: 2;
    width: 330px;
}
textarea.sheet-textarea {
    height: 315px;
    width:  400px;
    resize: none;
}
select.sheet-select {
    outline: 0;
    overflow: hidden;
    margin: 2px 0px 0px 0px;
    padding: 5px 3px 5px 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 5px;    
    height: 30px;
    width: 100px;
}
input.sheet-text {
    height: 30px;
    width: 250px;
}
input.sheet-short {
    height: 30px;
    width: 4em;
}